body {
    /*background-color: #3d3d3d !important;*/
}
body {
    /*color: #000;*/
    font-family: 'Open Sans';
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    direction: ltr;
}
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
   /* color: #333;
    background-color: #fff;*/
}