cal-values.conf
target
*~
bin
*.idea
*.iml
*.eml
.project
.settings
.classpath
/target
.springBeans
.DS_Store
*/test-output/**
*/target/**
*.log
gradm.ipr
gradm.iws
antx.properties
rebel.xml
gradm.web/logs
src/test/
.sonar/
