gradm.web/logs
**/node_modules
local-values.conf
target
*~
bin
*.idea
*.iml
*.eml
.project
.settings
.classpath
/target
.springBeans
.DS_Store
*/test-output/**
*/target/**
*.log
legend.ipr
legend.iws
antx.properties
rebel.xml
.ropeproject
*.orig
templates_target/
.sonar/
gradm.web/target/**

src/main/java/com/manager/gradm/entity/supplier/
src/main/resources/mybatis/supplier/
